 <%= link_to(new_user_profile_picture_path(@user)) do %>
 <div class="css-shapes-preview">
    <% @user.profile_pictures.each do |pic| %>
      <%= link_to image_tag(pic.image.url, class: 'css-shapes-preview'), pic.image.url, target: '_blank' %>
    <% end %>
 </div>
<% end %>

<div class="btn-group  navbar-right" role="group" aria-label="..." style="padding-left: 80px">
  <% if current_user != @user %>
    <% if friend_request_status(@user) == 0 %>
      <%= link_to(friend_request_path(current_user,@user), method: :post) do%>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-user"></span>
          <span>Add Friend</span>
        </button>
      <% end %>
    <% elsif friend_request_status(@user) == 2%>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-user"></span>
        <span>Friend Request Sent</span>
      </button>
    <% elsif friend_request_status(@user) == 3%>
      <%= link_to(friend_request_path(current_user,@user), method: :post) do%>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-user"></span>
          <span>Conform Friend Rquest</span>
        </button>
      <% end %>
    <% else%>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-user"></span>
        <span>Friends</span>
      </button>
    <% end %>
  <% end %>
  <button type="button" class="btn btn-default">Message</button>
</div>
   