// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after{ 
    box-sizing: border-box; 
} 
.css-shapes-preview{ 
    position: relative; 
    height: 150px; 
    width: 150px; 
    padding: 8px; 
    background-color: #428BCA; 
    border-radius: 150px; 
    top: 1px; 
    left: -20px; 
    transform: skew(0deg); 
    -webkit-transform: skew(0deg); 
    border-top: 0px transparent; 
}